* {
    margin: 0px;
    padding: 0;
}

body{
    margin: 20px;
}

fieldset{
    width: 400px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: rgb(240,240,240);
}

.text{
    margin: 5px;
    width: 300px;
    background-color: rgb(200,222,250);
}

.button{
    margin: 10px 0px 10px 0px;
}