* {
    margin: 0;
    padding: 0;
}

#content{
    width: 500px;
    padding: 50px;
}

h1{
    font-size: 96px;
}

img{
    border: 1px solid blue;
    margin-top: 20px;
}

figcaption{
    font-weight: bold;
    margin: 10px 0px 50px 0px;
}

.headline {
    font-size: 36px;
}

.latin {
    font-style: italic;
}

.blueberry {
    background-color: rgb(150,200,255);
    width: 200px;
    height: 60px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid black;
}

.cloudberry {
    background-color: rgb(255,225,200);
    width: 200px;
    height: 60px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid black;
}

.lingonberry {
    background-color: rgb(255,150,150);
    width: 200px;
    height: 60px;
    padding: 20px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}