body {
    font-family: Arial, Verdana, sans-serif;
}

p {
    color: blue;
}

h1.alert {
    font-size: 3em;
}

.alert {
    color: red;
}

p#unique {
    font-size: 0.8em;
}

#underlined{
    text-decoration: underline;
}

#codeblock {
    background-color: rgb(230,230,230);
    padding: 10px;
}

.code{
    color: black;
}