body {
    font-family: Arial, Verdana, sans-serif;
}

table{
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
}

td, th{
    padding: 0px 5px 0px 5px;
}

caption{
    border: solid;
    border-width: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.head{
    background-color: red;
    color: white;
}

.altrow{
    background-color: rgb(240,240,204);
}

.property{
    text-transform: uppercase;
    font-weight: bold;
    border-right: solid;
    border-right-width: 1px;
}