table{
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
}

td, th{
    padding: 0px 5px 0px 5px;
    width: 120px;
}

caption{
    border: solid;
    border-width: 1px;
    text-transform: uppercase;
    font-weight: bold;
    width: 260px;
}

figure{
    float: left;
}

.courses{
    margin-top: 80px;
}